<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <servlet>
        <servlet-name>DbaLoginServlet</servlet-name>
        <servlet-class>servlets.DbaLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LltLoginServlet</servlet-name>
        <servlet-class>servlets.LltLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DbaRegServlet</servlet-name>
        <servlet-class>servlets.DbaRegServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LlRegservlet</servlet-name>
        <servlet-class>servlets.LlRegservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TRegservlet</servlet-name>
        <servlet-class>servlets.TRegservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TLoginServlet</servlet-name>
        <servlet-class>servlets.TLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LlPostPropServlet</servlet-name>
        <servlet-class>servlets.LlPostPropServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <servlet-class>servlets.ForgotPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DbaUpdateActionServlet</servlet-name>
        <servlet-class>servlets.DbaUpdateActionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DbaLoginServlet</servlet-name>
        <url-pattern>/dbaloginservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LltLoginServlet</servlet-name>
        <url-pattern>/lltloginservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DbaRegServlet</servlet-name>
        <url-pattern>/dbaRegservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LlRegservlet</servlet-name>
        <url-pattern>/llRegservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TRegservlet</servlet-name>
        <url-pattern>/tRegservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TLoginServlet</servlet-name>
        <url-pattern>/tloginservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LlPostPropServlet</servlet-name>
        <url-pattern>/llpostpropservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <url-pattern>/forgotPasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DbaUpdateActionServlet</servlet-name>
        <url-pattern>/dbaupdateactionservlet</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
